.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
    .App-logo {
        /* ‰¡’·‚Å“øF‚ğì‚é */

        background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
        animation: appmark 2s linear infinite;
    }
}


.gaming {
    height: 400px;
    width: 1000px;
}

@keyframes appmark{
    /* background‚ğˆÚ“®‚³‚¹‚é */
    100% {
        background-position-x: 200%;
    }
}
.App-header {
    background-color: #4F83EB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #3ABF00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
